body {
    font-family: 'Montserrat', sans-serif;
    background-color: #EBEBEB;
    text-align: center;
    color: rgb(146, 146, 146);
}

section {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.267);
    text-align: center;
    max-width: 600px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#tim {
    border-radius: 50%;
    border: 1px solid #EBEBEB;
}

#lee p {
    text-align: justify;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
    color: rgb(110, 110, 110);
}

h1 {
    color: #DD5555;
}

#lee a {
    display: block;
    padding: 6px;
    color: white;
    background-color: #DD5555;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    text-decoration: none;
}

section ul li {
    display: inline-flex;
    margin: 0 15px;
    flex-flow: column;
}

section ul {
    list-style-type: none;
    margin: 40px;
    display: inline;
}

article {
    display: flex;
    padding: 5px;
    margin: 15px;
}

.image {
    display: inline;
    margin: 10px;
}

.image img {
    width: 100px;
    height: auto;
}

.texte {
    display: inline;
    width: 400px;
    margin: 10px;
}

.texte p {
    text-align: justify;
}

.fa {
    font-size: 30px;
    margin: 0 0 10 0;
}